In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df = pd.read_csv('multiprice.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       5.0   18  610000
3  3600       NaN   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [3]:
df.bedrooms.median()

5.0

In [4]:
df.bedrooms = df.bedrooms.fillna(df.bedrooms.median())
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       5.0   18  610000
3  3600       5.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [5]:
reg = linear_model.LinearRegression()
reg.fit(df.drop('price',axis='columns'),df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [6]:
reg.coef_

array([  130.26781094,  1657.53838192, -5482.93657639])

In [7]:
reg.intercept_

285984.92036110605

Claculate the price of home with 3200 sqr ft area, 4 bedrooms, 25 year old

In [8]:
reg.predict([[3200, 4, 25]])

array([572398.65447645])

In [10]:
130.26781094*3200+1657.53838192*4+ -5482.93657639*25+285984.92036110605

572398.654487036